!!!
html
	head
		title= appName
		meta(name="Name", content="App: " + appName)
		meta(name="Version", content=appVersion)
		meta(name="Vendor", content="Customer")
		script(src='/apps/2.0p/sdk.js')
	body
		script(lang='javascript')!= app
